<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>남 과 여</title>
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
</head>
<body>

<div class="container">
    <img src="/images/ground.PNG" class="full-width-img" alt="Full Width Image">
</div>
<a href="/quiz/start" class="myButton">시작</a>
</body>
</html>
